body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

h2,
p {
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

div {
    width: 250px;
    height: 120px;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
}